
span{
  margin-right: 1rem;
}
.common{
  padding: 2rem;
  font-size: 2rem;
  position: absolute;
  left: 15%;
}
mat-toolbar-row{
  height: 7rem;
}
.raz{
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background: #673ab7;
  color: #ffd740;
}

.example-form{
  position: absolute;
  left: 25%;
  top: 50%;
  font-size: 3rem;
}
input{
  font-size: 1.5rem;
  border: 6px solid #ffd740;

}
